{% extends 'layout.html' %}

{% block body %}

<br>
<div>
  <h1 style="display:inline">All inventory items</h1>
  <a class="" href="{{ url_for('inventory.purchasing')}}">Purchasing</a>
  {% if True %}
  <a style="display:inline" class="btn btn-success float-right" href='{{ url_for('inventory.new_item') }}'>+ New Item</a>
  {% endif %}
</div>

<hr>

{% for item in inventory %}
    
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='inventory_pics/' + item.image_file) }}"> <!-- item's pic  -->
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Link to category?</a> 
        <small class="text-muted">Last updated {{ calc_time_delta(item.last_updated) }}</small> <!--  last time updated, trimmed to Year, month, date -->
      </div>
      <h2><a class="" href="{{ url_for('inventory.update_item', id = item.id)}}">{{ item.name }} - {{ item.size }}</a></h2> <!-- the article/post title is now a link to a page just for that post (allows the author to edit/delete on that page)  -->
      <h4>{{ remove_exponent(item.count) }} remaining</h3>
      <p class="article-content">{{ item.description }}</p>
    </div>
  </article>

{% endfor %}

{% endblock body%}