{% extends 'layout.html' %}

{% block body %}

<div>
    <form action="" method="POST"> <!-- it'll post the action onto the same route we're already on -->
        {{ form.hidden_tag() }} <!-- adds a CSRF token (Cross Site Request Forgery) to protect against attacks -->
        <fieldset class="form-group"> <!-- Bootstrap stuff to make it look nicer -->
            <legend class="border-bottom mb-4">Add new inventory item</legend> <!-- border at bottom with margin 4-->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }} <!-- Prints label for our name field. The class stuff in parenthesis is just Bootstrap-->
                {% if form.name.errors %} <!-- error found in form input -->
                    {{ form.name(class="form-control form-control-lg is-invalid") }} <!-- show a form input box with Bootstrap is-invalid style-->
                    <div class="invalid-feedback"> <!-- Bootstrap style -->
                        {% for error in form.name.errors %} <!-- iterate and render all the errors -->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>           
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }} <!-- renders the actual field for our name, plus some Bootstrap-->
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.size.label(class="form-control-label") }} <!-- these fields, like size, correspond to the variables set in our forms.py -->
                {% if form.size.errors %} <!-- error found in form input -->
                    {{ form.size(class="form-control form-control-lg is-invalid") }} <!-- show a form input box with Bootstrap is-invalid style-->
                    <div class="invalid-feedback"> <!-- Bootstrap style -->
                        {% for error in form.size.errors %} <!-- iterate and render all the errors -->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>           
                {% else %}
                    {{ form.size(class="form-control form-control-lg") }} <!-- renders the actual field for our username, plus some Bootstrap-->
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.count.label(class="form-control-label") }} <!-- Prints label for our count field. The class stuff in parenthesis is just Bootstrap-->
                {% if form.count.errors %} <!-- error found in form input -->
                    {{ form.count(class="form-control form-control-lg is-invalid") }} <!-- show a form input box with Bootstrap is-invalid style-->
                    <div class="invalid-feedback"> <!-- Bootstrap style -->
                        {% for error in form.count.errors %} <!-- iterate and render all the errors -->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>           
                {% else %}
                    {{ form.count(class="form-control form-control-lg") }} <!-- renders the actual field for our name, plus some Bootstrap-->
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }} <!-- these fields, like description, correspond to the variables set in our forms.py -->
                {% if form.description.errors %} <!-- error found in form input -->
                    {{ form.description(class="form-control form-control-lg is-invalid") }} <!-- show a form input box with Bootstrap is-invalid style-->
                    <div class="invalid-feedback"> <!-- Bootstrap style -->
                        {% for error in form.description.errors %} <!-- iterate and render all the errors -->
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>           
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }} <!-- renders the actual field for our username, plus some Bootstrap-->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }} <!-- our submit button styled with Bootstrap "Info" button style + an outline -->
        </div>
    </form>
</div>

<br>
<a href="{{url_for('inventory.inventory')}}">Go Back</a>
<hr>

{% endblock body%}